<div class="">
  <nav class="navbar-default navbar-fixed-top">
    <div class="col-xs-12">
      <div class="navbar-left nav-img">
        <%=image_tag("logo_with_text_good.png", class:"small-icon" )%>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="../users/new">New User</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
  <div>
    <%=image_tag('../theme.jpeg', class:'theme-bg') if Rails.env.production?%>
    <%=image_tag('theme.jpeg', class:'theme-bg') unless Rails.env.production?%>

    <h2>YardSurfing connects travellers with host's who don't mind a tent in their yard</h2>

    <form class="form-group signin-page-static" id="signinForm" action="<%= session_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <label class="form-inline signin-modal-ele-font" >Email: </label>
      <input class="form-control col-md-6 col-xs-6 col-sm-6 col-lg-6 z-out" name="user[email]"/>
      <br/>
      <label class="form-inline signin-modal-ele-font top-buffer">Password: </label>
      <input class="form-control" type="password" name="user[password]"/>
      <br/>
      <button class="btn red-btn text-center" type="submit">Sign In</button>
    </form>
    <form action="<%= session_url %>" method="post" class="signin-page-static">
      <input type="text" name="user[email]" value="admin" type="hidden" class="hidden-field"><br>
      <input type="password" name="user[password]" value="password" type="hidden" class="hidden-field"><br>
      <button class="btn blue-btn guest-login-button">Sign In as Guest</button>
    </form>
  </div>
