<div class="">
  <nav class="navbar-default navbar-fixed-top">
    <div class="col-xs-12">
      <div class="navbar-left nav-img">
        <%=image_tag("blue-tent-icon.png", class:"small-icon" )%>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="../session/new">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div>
    <%=image_tag('../theme_text.jpg', class:'theme-bg') if Rails.env.production?%>
    <%=image_tag('theme_text.jpg', class:'theme-bg') unless Rails.env.production?%>
    <div class="blocker-top"></div>
    <div class="blocker-side"></div>
    <div class="signup-div">
      <div class="middle-signin">
        <div class="inner-signin">
          <form class="form-group signin-page-static signup" id="signinForm" action="<%= users_url %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <input class="my-form-signup  input-label-signup-user" placeHolder="Email" type="email" name="user[email]"/>
            <input class="my-form-signup input-label-signup-pass" type="password" name="user[password]" placeHolder="Password"/>
            <br/>
            <button class="my-button blue-btn text-center signup-button" type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
